:host{
    display: flex;

    .test {
        padding: 4px 8px;
        cursor: pointer;
        display: flex;
        width: 100%;
    
        &:hover {
            background-color: lightslategray;;
        }
    }
    
    .card-title {
        font-size: 15px;
        font-weight: 600;
    }

    .card-desc {
        padding-left: 8px;
        display: flex;
        flex-direction: column;
        line-height: initial;
        justify-content: space-evenly;
    }

    img {
        height: 50px;
    }
}