:host{
    display: flex;
    transition: all 0.4s ease-out;

    button {
        justify-self: center;
        align-self: center;
        min-width: auto;
    }

    .test {
        padding: 4px 8px;
        cursor: pointer;
        display: flex;
        width: 100%;
    
        &:hover {
            background-color: lightslategray;;
        }
    }
    
    .card-title {
        font-size: 15px;
        font-weight: 600;
    }

    .card-desc {
        width: 100%;
        padding-left: 8px;
        display: flex;
        flex-direction: column;
        line-height: initial;
        justify-content: space-evenly;
    }

    img {
        height: 50px;
    }
}