@import "./../color-variables";

:host {
  height: 100px;
  width: 50%;
  border: solid 1px $primary;
  border-radius: 4px;
  background-color: $secondary;
  margin-right: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .search-results {
    overflow: auto;
  }
}
