@import "./../color-variables";

:host {
    margin-right: 8px;
    
    .search-results {
        overflow: auto;
    }
}

@media screen and (max-width: 1020px) {
    :host {
        margin-right: 0px;
    }
}
