@import "./../color-variables";

:host {
    height: auto;
    width: 50%;
    border: solid 1px $primary;
    border-radius: 4px;
    background-color: $secondary;
    margin-right: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .search-results {
        overflow: auto;
    }

    movie-card:not(:last-child){
        margin-bottom: 4px;
    }
}
