<mat-form-field class="search-bar" (keydown.enter)="onSubmit()">
  <mat-label class="search-bar__header">Movie Title</mat-label>
  <mat-icon class="search-bar__icon noselect" matPrefix mat-icon-button aria-label="Search">
    search
  </mat-icon>
  <input matInput type="text" [(ngModel)]="searchedTerm" />
  <button mat-icon-button class="noselect" *ngIf="searchedTerm" matSuffix mat-icon-button aria-label="Clear"
    (click)="eraseEntry()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>