@import "./../color-variables";

.search-bar-container {
  border: solid;
  border-width: 1px;
  border-color: $primary;
  border-radius: 4px;
  background-color: $secondary;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.41);
  margin-bottom: 18px;

  &__header {
    color: $primary;
  }
}
