<div class="app-container">
  <span class="header">The Shoppies</span>
  <search-bar></search-bar>
  <ng-container *ngIf="searchMovieStoreService.bannerState.isVisible">
    <banner [context]="searchMovieStoreService.bannerState.context">
      Thank you for selecting your 5 nominees. for participating in this years Shoppies!
    </banner>
  </ng-container>
  <ng-container>
    <div class="results-output">
      <results [searchedString]="searchMovieStoreService.searchedString$ | async"
        [searchResults]="searchMovieStoreService.results$ | async"
        [isLoading]="searchMovieStoreService.isLoading$ | async">
      </results>
      <nominations-container [searchedString]="searchMovieStoreService.searchedString$ | async"
        [nominees]="searchMovieStoreService.nominations$ | async">
      </nominations-container>
    </div>
  </ng-container>
</div>