<div class="main">
  <span class="header">The Shoppies</span>
  <search-bar></search-bar>
  <div *ngIf="(searchMovieStoreService.bannerState$ | async)?.isVisible" [@slideInOut]>
    <banner [context]="(searchMovieStoreService.bannerState$ | async)?.context">
      {{(searchMovieStoreService.bannerState$ | async)?.message}}
    </banner>
  </div>
  <ng-container>
    <div class="results-output">
      <results [searchedString]="searchMovieStoreService.searchedString$ | async"
        [searchResults]="searchMovieStoreService.results$ | async"
        [isLoading]="searchMovieStoreService.isLoading$ | async">
      </results>
      <nominations-container [searchedString]="searchMovieStoreService.searchedString$ | async"
        [nominees]="searchMovieStoreService.nominations$ | async">
      </nominations-container>
    </div>
  </ng-container>
</div>