@import "./color-variables";
.app-container {
  padding: 40px 80px;
  background-color: $background;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  min-height: 0;
}

.header {
  font-size: 3em !important;
  text-decoration-line: underline;
  text-decoration-color: $accent-primary;
  color: $shopify-green-primary;
}

.results-output {
  display: flex;
  flex-direction: row;
}
