$background: #f8f9fa;
$primary: #0f0f0f;
$secondary: white;
$grey: #A4A4A4; 
$shopify-green-primary: #014C3F;
$shopify-green-primary-light: #028060;
$shopify-green-primary-dark: #00201B;
$accent-primary: #DCAB2E;
$alert: #FF4242;
$alert-light: #ff9999;
$success: #42FF42;
$alert-light: #99ff99;
$warning: #FFCC00;
$warning-light: #FFDB49;
$info: #55ADCB;
$info-light: #ADD8E6;