$background: #EEE7DF;
$primary: #0f0f0f;
$secondary: white;
$grey: #A4A4A4; 
$white: #FFF;
$black: #000;
$accent-primary: #DCAB2E;
$alert: #FF4242;
$alert-light: #ff9999;
$success: #0f0f0f;
$success-light: #000;
$warning: #F0AD4E;
$warning-light: #F4C380;
$info: #55ADCB;
$info-light: #ADD8E6;
$pink: #ff1f8f;