@font-face {
    font-family: PosterFont;
    src: url(./../../../../assets/BebasNeue-Regular.ttf);
}

:host{
    display: flex;

    button {
        justify-self: center;
        align-self: center;
        min-width: auto;
        width: 90%;
    }

    .card {
        display: flex;
        flex-direction: column;

        &__body {
            width: 164px;
            background-color: #e7e7e7;
            min-width: 0;
            height: 232px;
            padding: 8px;
            margin-bottom: 8px;
        }

        &__title {
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            max-height: 40px;
            max-width: 92px;
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
            font-family: PosterFont;
        }

        &__desc {
            display: flex;
            width: 100%;
            min-width: 0;
            line-height: initial;
        }

        &__broken-img {
            width: 35px;
            min-width: 35px;
            display: flex;
            justify-content: center;
            align-self: center;
        }

        &__position {
            position: absolute;
            font-size: 3em;
            font-weight: bolder;
            transform: translate(-5px, -5px);
        }
    }

    .movie-year {
        padding-left: 4px;
        font-size: 12px;
        font-weight: 200;
        justify-content: end;
        position: relative;
        display: flex;
        align-items: flex-end;
    }

    .movie-type--prefix {
        font-size: 10px;
        font-weight: 200; 
    }

    .movie-type {
        padding-left: 15px;
        font-family: PosterFont;

        &--prefix {
            color: #545454;
        }
    }

    img {
        border: solid 8px white;
        height: 155px;
    }
}

@media screen and (max-width: 500px) {
    :host {
        .card {
            flex-direction: column;
        }

        button {
            margin-top: 4px;
            width: 100%;
        }

        img {
            max-width: 35px;
        }
    }
}