@import "./../../../color-variables";

:host {
    width: 100%;
    margin-bottom: 8px;
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;

    .banner {
        padding: 8px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .alert {
        border: solid 1px $alert;
        background-color: $alert-light;
    }

    .success {
        border: solid 1px $success;
        background-color: $success-light;
        color: $white;
    }

    .warning {
        border: solid 1px $warning;
        background-color: $warning-light;
    }

    .info {
        border: solid 1px $info;
        background-color: $info-light;
    }

}