// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "./app/color-variables";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$primary: (
 Main: $shopify-green-primary,
 Light: $shopify-green-primary-light,
 Dark: $shopify-green-primary-dark,
 contrast: (
  Main: #f5f5f5,
  Light: #f5f5f5,
  Dark: #f5f5f5
 ));

 $accent: (
 Main: $accent-primary,
 Light: #e2d23b,
 Dark: #d16f18,
 contrast: (
   Main: #fff,
   Light: #fff,
   Dark: #fff
  ));
$warn:$mat-red;

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $shoppies-app-primary: mat-palette($mat-indigo);
// $shoppies-app-accent: mat-palette($mat-pink, A200, A100, A400);

$custom-theme-primary: mat-palette($primary, Main, Light, Dark);
$custom-theme-accent: mat-palette($accent, Main, Light, Dark);
$custom-theme-warn: mat-palette($warn, A200, A400, A700);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);
@mixin angular-material-theme($theme) {
  @include mat-button-theme($theme);
  @include mat-button-toggle-theme($theme);
  @include mat-card-theme($theme);
}

// The warn palette is optional (defaults to red).
$shoppies-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shoppies-app-theme: mat-light-theme(
  (
    color: (
      primary: $custom-theme-primary,
      secondary: #fff,
      accent: $custom-theme-accent,
      warn: $custom-theme-warn,
    ),
  )
);

$shoppies-app-theme: mat-dark-theme(
  (
    color: (
      primary: $custom-theme-primary,
      secondary: #000,
      accent: $custom-theme-accent,
      warn: $custom-theme-warn,
    ),
  )
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
